<section class="overflow-x-auto">
    <table class="w-full text-sm border border-black border-collapse">
      <thead>
        <tr>
          <th colspan="5" class="bg-blue-600 text-white py-4 text-center text-lg font-semibold border border-black">
            Programa de Ponencias
          </th>
        </tr>
        <tr class="bg-gray-100 text-center border border-black">
          <th class="p-3 border border-black">Fecha</th>
          <th class="p-3 border border-black">Hora</th>
          <th class="p-3 border border-black">Ponente</th>
          <th class="p-3 border border-black">Tema</th>
          <th class="p-3 border border-black">Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-blue-50 border border-black">
          <td class="p-3 border border-black">10/05/2025</td>
          <td class="p-3 border border-black">09:30</td>
          <td class="p-3 border border-black">Laura Gómez</td>
          <td class="p-3 border border-black">Textil regenerativo: del residuo al recurso</td>
          <td class="p-3 border border-black">45 min</td>
        </tr>
        <tr class="border border-black">
          <td class="p-3 border border-black">10/05/2025</td>
          <td class="p-3 border border-black">10:30</td>
          <td class="p-3 border border-black">Iván Martínez</td>
          <td class="p-3 border border-black">Gobiernos locales y transición circular</td>
          <td class="p-3 border border-black">45 min</td>
        </tr>
        <tr class="bg-blue-50 border border-black">
          <td class="p-3 border border-black">10/05/2025</td>
          <td class="p-3 border border-black">11:30</td>
          <td class="p-3 border border-black">Clara Puig</td>
          <td class="p-3 border border-black">Ecodiseño para ciudades sostenibles</td>
          <td class="p-3 border border-black">45 min</td>
        </tr>
        <tr class="border border-black">
          <td class="p-3 border border-black">10/05/2025</td>
          <td class="p-3 border border-black">12:30</td>
          <td class="p-3 border border-black">Sergio Romero</td>
          <td class="p-3 border border-black">Comunicación para la acción climática</td>
          <td class="p-3 border border-black">45 min</td>
        </tr>
      </tbody>
      <tfoot>
        <tr >
          <td colspan="5" class="text-xs text-blue-700 pt-3 pl-3 ">
            * Los horarios están sujetos a cambios. Consulta la web para actualizaciones.
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
